body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    background-color: #222;
    color: white;
    padding: 1rem;
}

.nav-tab {
    margin: 1rem;
    background-color: #eee;
    color: #222;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    transition: all 350ms ease-in-out;
}

.nav-tab:hover {
    cursor: pointer;
}

.active-tab  {
    box-shadow: 1px 2px 12px 4px lightgray;
    background-color: aqua;
}

.mail-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
    transition: all 350ms ease-in-out;
}

.mail-item:hover {
    box-shadow: 1px 2px 12px 4px lightgray;
    cursor: pointer;
}

.mail-list-header {
    border: 1px dashed #222;
    padding: 16px;
    font-weight: bold;

}

.mail-item-inner, .mail-list-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.tag-false, .tag-true {
    max-width: max-content;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 12px 2px lightgray;
}

.mail-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.mail-subject {
    font-weight: bold;
    font-size: 2rem;
    margin: 0.2rem 0;
    color: black !important;
}

.mail-item-left div p {
    margin: 0;
    color: #505050;
    margin: 10px 0;
}

.mail-item-left > p {
    font-weight: bold;
}

.mail-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mail-form {
    display: flex;
    flex-direction: column;
}

.mail-form input, .mail-form button {
    margin: 0.5rem 0;
}

.mail-form input, .mail-form textarea {
    width: 300px;
    padding: 10px;
    border-radius: 12px;
}

.mail-form button {
    max-width: max-content;
    margin: 10px auto;
    padding: 0.3rem 1rem;
    color: white;
    background-color: #222;
    border-radius: 5px;
    transition: all 350ms ease-in-out;
}

.mail-form button:hover {
    box-shadow: 0px 0px 12px 2px lightgray;
    cursor: pointer;
    transform: scale(1.1);
}

.tag-false, .tag-true {
    background-color: #18a764;
    max-width: max-content;
    padding: 10px;
}

.tag-false {
    background-color: #ff0b0b;
}

.tag-true {
    background-color: #18a764;
}

.message {
    padding: 1rem;
    padding-top: 0;
    margin: 2rem;
    margin-top: 0;
    font-size: 20px;
    color: #505050;
}